#chat-bot-launcher {
    display: none !important;
}

#chat-bot-frame-container {
    display: none !important;
}


#chat-bot-launcher-container {
    display: none !important;
}

#chat-bot-avatar-text {
    display: none !important;
}